body{
    padding: 100px;
}
.submit-area{
    margin-top: 60px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    padding: 50px;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    margin: 40px 60px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}